
.fu{
background-color: darkgray;

}





.Soja{
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    position: absolute;
    right:100px;

}mn{
    align-items: baseline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 220%;
    position: relative;
    display: flex;
    justify-content: center;
 right: 400px;

}

.uu{
    display: flex;
    justify-content: center;
    right: -665px;
    position: relative;
    margin-top: 5%;

}