.freer{
    display: flex;
justify-content: center;

}

.corpo3{
background-color:blueviolet


}

.geral15{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 10px;
    


}

.ff{
    width: 1800px;
    margin: 54px;

}