.cabecalho{
background-color: rgb(0, 68, 255);
display: flex;
justify-content: center;



 }

.geral{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 100px;
    
    
}
    
.GERAL1{
    width: 70%;
    margin: 80px;

    
}
 
