body{
    background-image: url("feijaooooo.jpg");
    background-size: cover;
}

.t1{

    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
    position: absolute;
    top: 30%;
    right: 890px;
    display: flex;
}

.t2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
    position: absolute;
    top: 50%;
    right: 740px;
    display: flex;
right: 200px;
}