.cor{
    background-color: darkgrey;
    justify-content: center;
}


.secc{
    width: 80%;
    display: flex;
    justify-content: center;
    position: absolute;
    right:150px
}

.te{
      
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 35px;
position: initial;position: absolute;
margin-top: 10%;
margin-top: 10%;
}

.tomate{
display: flex;
justify-content: center;
height: 400px;
position: relative;
margin-top: 5%;
}