.cabecalho{
background-color: rgb(0, 68, 255);





}
.imgfifa{
width: 30%;
display: flex;
justify-content:center;
}
.imgsmachi{
width: 30%;
display: flex;
justify-content:center ;
}
.imgff{
width: 30%;
display: flex;
justify-content:center ;
}
.imggood{
width: 30%;
display: flex;
justify-content:center ;
}
.imgfortnite{
width: 30%;
display: flex;
justify-content:center ;
}

