.cabecalho{

display: flex;
justify-content: center;



 }


.geral{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 100px;
    
    
}
    
.GERAL1{
    width: 100%;
    margin: 54px;

    
}
.corpo{
    background-image: linear-gradient(blue, black);


}
 
